{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}
{% set org_route_name = 'organization.read' %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}

<div id="content" class={{ h.set_background_image_class()  }}>
   {{ self.flash() }}
    <h1 class="visuallyhidden">Queensland Government publications Homepage</h1>
    <div class="qld-banner qld-banner-grid banner-advanced dark with-hero-image">
        <div class="container-fluid">
            <div class="banner-inner pt-0 pt-md-48 pt-lg-64">
                <div class="banner-content">
                    <h1 class="banner-title-wrap mt-md-0">Queensland Government Publications</h1>
                    <div class="banner-abstract">Search over 1,850 publications and 11,735 resources.</div>

                    <div class="banner-cta" role="group">
                        <div class="cta-buttons">
                            <form class="site-search w-100" action="/dataset" method="get" autocomplete="off">
                                <div class="qld-search-input full-width">
                                    <input class="form-control" type="text" name="q" aria-label="Search Publications">
                                    <button class="btn btn-primary" type="submit">
                                        <span class="btn-icon" aria-hidden="true"></span>
                                        <span class="btn-label">Search</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="banner-image align-right with-gradient">
                    <div class="banner-image-inner" style="background-image: url('/assets/bridge.jpg');" role="img"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row wrapper"><article class="module"><div class="module-content">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="row row-cols-1 g-4">
                <div class="col">
                    <div class="card card-default default  card-multi-action">
                        <div class="card-body">
                            <h3 class="card-title">
                                {{ _('Publication standards') }}
                            </h3>
                            <div class="card-text">
                                <p>Our <a href="/dataset/publishing-standards-publications-qld-gov-au">publication standards</a>—including accessibility and usability requirements, and metadata guidelines—are now publicly available. We should be following these standards. Let us know if we’re not.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="qld-cta-link" href="/dataset/publishing-standards-publications-qld-gov-au" title="More publication standards">Read more<span class="icon" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-default default  card-multi-action">
                        <div class="card-body">
                            <h3 class="card-title">
                                Queensland Government web address changes
                            </h3>
                            <div class="card-text">
                                <p>Due to department changes, some Queensland Government web addresses have been updated.</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="qld-cta-link" href="/article/announcements/#web-address-changes" title="Read more about: Queensland Government web address changes">Read more<span class="icon" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-default default  card-multi-action">
                <div class="card-body">
                    <h3 class="card-title">
                        {{ _('Queensland Government Gazettes') }}
                    </h3>
                    <div class="card-text">
                        <ul>
                          <li><a href="https://www.forgov.qld.gov.au/information-and-communication-technology/communication-and-publishing/website-and-digital-publishing/queensland-government-gazette/publish-in-the-gazette">Publish in the Gazettes</a></li>
                          {% for year in range(h.get_year(), 2015, -1) %}
                          <li><a href="/group/gazettes-{{ year }}">Gazettes {{ year }}</a></li>
                          {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/group" title="More gazettes">More&hellip;</a>
                </div>
            </div>
        </div>

        {% if h.top_organisations() %}
        <div class="col">
            <div class="card card-default default  card-multi-action">
                <div class="card-body">
                    <h3 class="card-title">
                        Top publishers
                    </h3>
                    <div class="card-text">
                        <ul>
                            <!-- noindex -->
                            {% for group, num_packages in h.top_organisations(limit=5) %}
                                {% if num_packages > 0 and (group.title or group.name) %}
                                    <li>{% link_for group.title or group.name, named_route=org_route_name, id=group.name %} ({{ num_packages }})</li>
                                {% endif %}
                            {% endfor %}
                            <!-- endnoindex -->
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <a title="Read more about: Top publishers" href="/organization">More&hellip;</a>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
        </div></article></div>
    </div><!-- .container -->
</div>
{% endblock %}
