{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}

<div id="content" class={{ h.set_background_image_class()  }}>
    <h1 class="visuallyhidden">Queensland Government publications Homepage</h1>
    <div class="hero-banner" style="background-image: url('https://www.qld.gov.au/__data/assets/image/0009/102204/qld-highway-ID-131896-6.jpg');">
        <div class="hero-banner__inner container">
            <div class="hero-banner__text-wrap">
                <h1>Discover and use Queensland Government Publications</h1>
            </div>
            <div class="hero-banner__search">
                <h2 class="hero-banner__search-title">Search over 1,850 publications and 11,735 resources</h2>
                <form action="/dataset" method="get" autocomplete="off">
                    <input type="text" name="q" placeholder="E.g Gazettes" aria-label="Search Publications" />
                    <button type="submit"><span class="sr-only">Submit search</span></button>
                </form>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row wrapper"><article class="module"><div class="module-content">
            <div class="tiles">

                <div class="tiles__item tiles__item--bg-title">
                    <div>
                        <div id="home-standards" class="tiles__title">{{ _('Publication standards') }}</div>
                        <div class="tiles__content">
                            <p>Our <a href="/dataset/publishing-standards-publications-qld-gov-au">publication standards</a>—including accessibility and usability requirements, and metadata guidelines—are now publicly available. We should be following these standards. Let us know if we’re not.</p>
                        </div>
                        <div class="tiles__link">
                            <a href="/dataset/publishing-standards-publications-qld-gov-au" title="More publication standards">Read more</a>
                        </div>
                    </div>

                    <div>
                        <div id="home-web-address-changes" class="tiles__title">Queensland Government web address changes</div>
                        <div class="tiles__content">
                            <p>Due to department changes, some Queensland Government web addresses have been updated.</p>
                        </div>
                        <div class="tiles__link">
                            <a href="/article/announcements/#web-address-changes" title="Read more about: Queensland Government web address changes">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="tiles__item tiles__item--bg-title">
                    <div id="home-gazettes" class="tiles__title">{{ _('Queensland Government Gazettes') }}</div>
                    <div class="tiles__content">
                        <ul>
                          <li><a href="https://www.qld.gov.au/gov/publish-gazette?tab=get-started ">Publish in the Gazettes</a></li>
                          <li><a href="https://www.qld.gov.au/gov/how-much-does-it-cost-publish-gazette-notice">Find out your costs</a></li>
                          <li><a href="https://www.qld.gov.au/gov/when-are-deadlines-providing-content-publication-queensland-government-gazette ">Publishing deadlines</a></li>
                          <li><a href="/group/gazettes-2020">Gazettes 2020</a></li>
                          <li><a href="/group/gazettes-2019">Gazettes 2019</a></li>
                          <li><a href="/group/gazettes-2018">Gazettes 2018</a></li>
                          <li><a href="/group/gazettes-2017">Gazettes 2017</a></li>
                          <li><a href="/group/gazettes-2016">Gazettes 2016</a></li>
                          <li><a href="/group/gazettes-2015">Gazettes 2015</a></li>
                        </ul>
                    </div>
                    <div class="tiles__link">
                        <a href="/group" title="More gazettes">More&hellip;</a>
                    </div>
                </div>

                {% if h.top_organisations() %}
                <div class="tiles__item tiles__item--bg-title">
                    <div class="tiles__title">Top publishers</div>
                    <div class="tiles__content">
                        <ul>
                            <!-- noindex -->
                            {% for group, num_packages in h.top_organisations(limit=5) %}
                                {% if num_packages > 0 and (group.title or group.name) %}
                                    <li>{{ h.link_to(group.title or group.name, h.url_for(controller='organization', action='read', id=group.name)) }} ({{ num_packages }})</li>
                                {% endif %}
                            {% endfor %}
                            <!-- endnoindex -->
                        </ul>
                    </div>
                    <div class="tiles__link">
                        <a title="Read more about: Top publishers" href="/organization">More&hellip;</a>
                    </div>
                </div>
                {% endif %}


            </div><!-- .tiles -->

        </div></article></div>
    </div><!-- .container -->
</div>
{% endblock %}
