behaving==3.1.5
boto3>=1.28.0
Appium-Python-Client==2.10.1
ckanapi==4.3
ckantoolkit>=0.0.4
factory-boy
flake8==6.0.0
mock
pytest-ckan
selenium<4.10
six>=1.13.0

-e git+https://github.com/qld-gov-au/ckanext-csrf-filter.git@1.1.8#egg=ckanext-csrf-filter
-e git+https://github.com/qld-gov-au/ckanext-qgov.git@6.0.2#egg=ckanext-qgov
-e git+https://github.com/qld-gov-au/ckanext-resource-type-validation.git@1.0.5#egg=ckanext-resource-type-validation
-e git+https://github.com/qld-gov-au/ckanext-ssm-config.git@0.0.2#egg=ckanext-ssm-config
