{% ckan_extends %}

  {% block help_inner %}
  <h2 class="module-heading">{{ _('Why Sign Up?') }}</h2>
  <div class="module-content">
    <p>{% trans %}Users must register to make data requests, comment against data requests and to give dataset feedback.{% endtrans %}</p>
    <p><b>If you are an employee of the Queensland Government</b> and want to use the Publications portal, your agency may already have a representative who can publish your document for you or train you to do it. Contact your web team to find your agency representative.</p>
    <p>If you need to become a publisher, <a href="https://www.forgov.qld.gov.au/request-publishing-access-data-and-publications-portals">apply for publishing access.</a></p>
  </div>
  {% endblock %}
