{% ckan_extends %}

{% set is_ckan_2_10 = h.check_ckan_version('2.10') %}
{% block header_account_logged %}
{% if c.userobj.sysadmin %}
  <li>CKAN {{ h.ckan_version() }}</li>
{% endif %}
{{ super() }}
{% endblock %}

{% block header_wrapper %} {% block header_account %}
  {{ super() }}
{% endblock %}
<header class="navbar navbar-static-top masthead">
  <div class="container">
    {% block header_debug %}
      {{ super() }}
    {% endblock %}

    <nav
      {% if is_ckan_2_10 %}
      class="navbar navbar-expand-lg navbar-light navbar-collapse"
      {% endif %}
    >
    {% if is_ckan_2_10 %}
    <hgroup class="{{ g.header_class }} navbar-left">
      <a class="logo" href="https://www.qld.gov.au" title="Link to Queensland Gov website">
        <img src="https://www.data.qld.gov.au/__data/assets/file/0035/218789/qg-coa-white.svg" alt="Queensland Government" class="d-none d-sm-block">
        <img src="https://www.data.qld.gov.au/__data/assets/file/0027/218790/qg-coa-stacked-white.svg" alt="Queensland Government" class="d-sm-none d-md-none d-lg-none d-xl-none">
        <img src="https://www.data.qld.gov.au/__data/assets/file/0028/218791/qg-coa-stacked.svg" alt="Queensland Government" class="d-none d-sm-none d-md-none d-lg-none d-xl-none qg-print-coat-of-arms">
      </a>
      <div class="header__data-portal">
        <a href="/">Publications portal</a>
      </div>

    </hgroup>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation-toggle"
      aria-controls="main-navigation-toggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars text-white"></span>
    </button>
    {% else %}
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-label="expand or collapse" aria-expanded="false">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <hgroup class="{{ g.header_class }} navbar-left">
      <a class="logo" href="https://www.qld.gov.au" title="Link to Queensland Gov website">
        <img src="https://www.data.qld.gov.au/__data/assets/file/0035/218789/qg-coa-white.svg" alt="Queensland Government" class="hidden-xs">
        <img src="https://www.data.qld.gov.au/__data/assets/file/0027/218790/qg-coa-stacked-white.svg" alt="Queensland Government" class="hidden-sm hidden-md hidden-lg">
        <img src="https://www.data.qld.gov.au/__data/assets/file/0028/218791/qg-coa-stacked.svg" alt="Queensland Government" class="hidden-xs hidden-sm hidden-md hidden-lg qg-print-coat-of-arms">
      </a>
      <div class="header__data-portal">
        <a href="/">Publications portal</a>
      </div>
    </hgroup>
    {% endif %}

    <div class="main-navbar collapse navbar-collapse" id="main-navigation-toggle">
      <nav class="section navigation">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav nav-pills">
        {% block header_site_navigation %}
          {% block header_site_navigation_tabs %}
          {% if h.current_url().startswith('/dataset/publishing-standards-publications-qld-gov-au') %}
            {% set standards_active=True %}
          {% elif h.current_url().startswith('/dataset/gazettes-') or h.current_url().startswith('/group/gazettes-') %}
            {% set gazettes_active=True %}
          {% elif h.current_url().startswith('/organization') %}
            {% set organization_active=True %}
          {% elif h.current_url() != '/' %}
            {% set publications_active=True %}
          {% endif %}
          {% set dataset_search_route = 'dataset.search' %}
          <li {% if publications_active %}class="active"{% endif %}><a href="{{ h.url_for(dataset_search_route) }}">Publication</a></li>
          <li {% if standards_active %}class="active"{% endif %}>
            <a href="/dataset/publishing-standards-publications-qld-gov-au" >Standards</a>
          </li>
          <li {% if organization_active %}class="active"{% endif %}>
            <a href="/organization">Organisations</a>
          </li>
          <li {% if gazettes_active %}class="active"{% endif %}>
            <a href="/gazettes-current">Gazettes</a>
          </li>
          <li>
            <a href="https://www.qld.gov.au/contact-us">Contact</a>
          </li>
          {% endblock %}
        {% endblock %}
        </ul>
      {% block header_site_search %}
        {{ super() }}
      {% endblock %}
      </nav>
    </div>
    </nav>
  </div>
</header>
{% endblock %}
