{% ckan_extends %}

{% block social_nav %}
  {% set current_url = h.full_current_url() %}
  {# Add 'nav-facet' class to ensure vertical arrangement. #}
  <ul class="nav nav-simple nav-facet">
    <li class="nav-item"><a href="https://x.com/share?url={{ current_url }}" target="_blank"><i class="fa-brands fa-square-x-twitter"></i> {{ _('X') }}</a></li>
    <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa-brands fa-facebook-square"></i> {{ _('Facebook') }}</a></li>
  </ul>
{% endblock %}
